<div class="container" fxLayout="column" fxLayoutgap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">

      <!-- for each entry in the export dishes: Dish[] = DISHES... and when you click on one of the mat-grid-tiles, the onSelect method is fired using that dish as a parameter, which sets selectedDish to taht dish -->
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{dish.name | uppercase}} </h1> 
        </mat-grid-tile-footer>
         
      </mat-grid-tile>
    </mat-grid-list>  
  </div>

 

</div>
